/* markdown-renderer-specific style rules */
main {
    margin: 2em;
}
@media screen and (min-width: 720px) {
    main {
        margin: 2em auto;
        width: 700px;
    }
}

pre > code {
    display: block;
}
code {
    word-break: break-all;
}
pre {
    overflow: auto;
}

h1:before,
h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
    content: '';
}
main a {
    color: #4299e1;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}
