{{define "about"}}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		{{template "header"}}
	</head>
	<body class="bg-gray-900 text-white">
	<header class="8 bg-gray-200 flex flex-wrap justify-between items-center p-2">
		{{template "nav"}}
	</header>

	<main class="container mx-auto px-8 pb-8">
		<h1 class="text-xl py-8">About paste</h1>

		<p>
			Paste is a FOSS ephemeral pastebin tool, made to be simple,
			lightweight, and without any tracker or javascript.
		</p>

		<p>
			Ephemeral means it does not store <i>anything</i> on a form of
			persistent storage (like a HDD or a SSD), but instead only keeps
			it in RAM for the selected duration (between 1 and 24 hours as of now).
		</p>

		<p>
			FOSS means that the source-code is available for free for anyone
			who might want to self-host it, or extend it
			(<a href="https://gitlab.com/Artemix/paste" class="underline text-blue-500 font-medium">Source-code</a>).
		</p>

		<h1 class="text-xl py-8">Privacy Policy</h1>

		<p>
			As general logging, we only collect your IP.
			This is solely for cases where someone tries to abuse our services,
			to be able to block them out.
		</p>

		<h2 class="text-lg py-6">Paste storing</h2>

		<p>
			Every paste is stored in ephemeral memory (RAM, through Redis configured
			to not persist anything), with an auto-expiry set to, at maximum, 24 hours.
		</p>

		<p>
			Following that, we don't persist anything, and once the expiry time
			is passed, or the server (/ redis instance) rebooted, everything is
			forgotten.
		</p>

		<h2 class="text-lg py-6">Analytics</h2>

		<p>
			Except for the possible exception above, we don't collect anything.
			No, really. The person behind this is very privacy-conscious, so
			they'll always try to only keep the necessary data, and <i>nothing more</i>.
			No ad, no tracker in any form, period.
		</p>

		<h2 class="text-lg py-6">Security</h2>

		<p>
			We employ good methods to keep data secure. Not digging into details,
			but the usual stuff, like a good firewall, monitoring system, and no
			apparent openflow.
		</p>

		<p>
			There's only one person who's technically authorized to be on the
			hosting servers, so only one person should be able to have access.
		</p>

		<p>
			Note that we're not saying that our servers and services are unbreakable
			and perfect, but that we try to do our very best to prevent any
			possibility for such incidents to occur.
		</p>

		<h2 class="text-lg py-6">Incident or vulnerability disclosure</h2>

		<p>
			If you managed to encounter an incident or a vulnerability in our
			infrastructure, we'd gladly receive your feedback and alerts by
			e-mail at <code>alert[at]artemix[dot]org</code>.
		</p>

		<p>
			Responsible disclosure will allow us to recover and fix those
			incidents without much risk, allowing us to provide you our services
			with as much quality as we can manage to.
		</p>

		<p><i>Plus, you may receive a special mention or some small token of appreciation!</i></p>
	</main>
	</body>
	</html>
{{end}}
