{{define "homepage"}}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		{{template "header"}}
	</head>
	<body class="bg-gray-900 text-white h-screen">
	<main class="flex flex-col h-screen">
		<header class="8 bg-gray-200 flex flex-wrap justify-between items-center p-2">
			{{template "nav"}}
			{{if .Error}}<p class="text-red-400 font-bold">{{.Error}}</p>{{end}}
			<fieldset class="shadow-xl rounded bg-white text-black">
				{{/* How to properly select the expected value here, in case of submit error */}}
				<select name="time" id="time" class="h-full p-2 rounded-l" form="paster">
					<option value="1h">1 hour</option>
					<option value="6h">6 hours</option>
					<option value="12h">12 hours</option>
					<option value="24h" selected>1 day (24 hours)</option>
				</select><button
					type="submit"
					form="paster"
					class="p-2 bg-blue-400 text-white rounded-r">Store
				</button>
			</fieldset>
		</header>
		<form method="POST" id="paster" class="w-full flex-1">
			<textarea
				class="bg-gray-900 resize-none font-mono p-2 w-full h-full block"
				name="paste"
				id="paste"
				rows="15"
				required autofocus
				placeholder="Enter your paste here"
				spellcheck="false">{{if .OriginalCommand }}{{.OriginalCommand.Paste}}{{end}}</textarea>
		</form>
	</main>
	</body>
	</html>
{{end}}
