{{define "http-error"}}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		{{template "header"}}
		<style>
			main.error {
				margin-top: 10em;
				text-align: center;
				font-family: monospace, monospace;
			}

			h1::before {
				content: '';
			}

			@media screen and (min-width: 700px) {
				main.error {
					width: 700px;
					margin: 10em auto auto auto;
				}
			}
		</style>
	</head>
	<body>
	<main class="error">
		<h1 class="text-3xl">{{.Error.Title}}</h1>
		<p>{{.Error.Description}}</p>
		<a href="/" class="underline font-medium text-blue-500">Back to home page</a>
	</main>
	</body>
	</html>
{{end}}
