{{define "markdown"}}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		{{template "header"}}
    <link rel="stylesheet" href="/static/markdown.css"/>
	</head>
	<body>
	<header class="bg-gray-200 flex flex-wrap justify-between items-center p-2">
		{{template "nav"}}
		<fieldset class="shadow-xl bg-white text-black">
			<a
				href="{{.View}}"
				class="p-2 bg-blue-400 hover:bg-blue-800 text-white rounded-l"
			>Source view</a><a
				href="{{.Raw}}"
				class="p-2 bg-blue-400 hover:bg-blue-800 text-white rounded-r">Raw view</a>
		</fieldset>
	</header>

	<main>
    {{.Value|markdown}}
	</main>
	</body>
	</html>
{{end}}
