{{define "header"}}
	<meta charset="UTF-8">
	<title>Paste</title>
	<link rel="stylesheet" href="/static/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
{{end}}
{{define "nav"}}
	<nav class="text-black">
		<a class="inline-block font-bold text-3xl pr-2" href="/">Paste</a>
		<a href="/about" class="underline text-blue-500 font-medium">About</a>
	</nav>
{{end}}
