{{define "show"}}
	<!DOCTYPE html>
	<html lang="en">
	<head>
		{{template "header"}}
		<link rel="stylesheet"
			  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/monokai-sublime.min.css">
	</head>
	<body class="bg-theme">
	<header class="bg-gray-200 flex flex-wrap justify-between items-center p-2">
		{{template "nav"}}
		<fieldset class="shadow-xl bg-white text-black">
			<a
				href="{{.Md}}"
				class="p-2 bg-blue-400 hover:bg-blue-800 text-white rounded-l"
			>Markdown view</a><a
				href="{{.Raw}}"
				class="p-2 bg-blue-400 hover:bg-blue-800 text-white rounded-r">Raw view</a>
		</fieldset>
	</header>

	<main>
		<pre class="flex">
			<code class="text-right border-r-2 border-gray-800">{{.Value|lineno}}</code>
			<code class="flex-1">{{.Value}}</code>
		</pre>
	</main>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	</body>
	</html>
{{end}}
